<form action="#" method="post" id="loginForm">

  <div class="msg-success alert alert-success" style="display:none;">{{I18n "you_logged_in"}}</div>
  <div class="error-bad-auth alert alert-danger" style="display:none;">{{I18n "username_or_password_incorrect"}}</div>
  <div class="error-unknown alert alert-danger" style="display:none;">{{stateDetails}}</div>
       
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">{{I18n "username_label"}}</label>
    <div class="col-sm-9">
      <input name="username" type="text" class="form-control" value="{{username}}">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">{{I18n "password_label"}}</label>
    <div class="col-sm-9">
      <input name="password" type="password" class="form-control" value="{{password}}">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-3 control-label">{{I18n "remember_me_label"}}</label>
    <div class="col-sm-9">
      <input type="checkbox" value="remember_me" name="remember_me"> 
    </div>
  </div>
  <div style="text-align: center;">
    {{#if_eq remember_me true }}
      <input type="submit" class="btn btn-lg btn-primary" value='{{I18n "login_label"}}' checked>
    {{else}}
      <input type="submit" class="btn btn-lg btn-primary" value='{{I18n "login_label"}}'>
    {{/if_eq}}
  </div>

</form>
