<h1>{{I18n "login_panel_title"}}</h1>
<div class="alert alert-error" style="display:none;">
</div>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="username">{{I18n "username_label"}}</label>
        <div class="controls">
            <input type="text" id="username" placeholder='{{I18n "username_notes"}}'>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">{{I18n "password_label"}}</label>
        <div class="controls">
            <input type="password" id="password" placeholder='{{I18n "password_notes"}}'>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" id="loginButton">{{I18n "sign_in"}}</button>
        </div>
    </div>
</form>