<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                    	<img src="/images/opentraffic_logo.png" class="logo"/>
                    </a>
                    <a class="navbar-brand" href="#">
                        {{I18n "site_title"}}
                    </a>
                </div>
             
               	<div class="nav navbar-nav navbar-right location-search">
                    {{I18n "location"}}: <input type="text" class="form-control" placeholder='{{I18n "enter_city_name"}}' id="locationSearch">
                    <div id="userMenuContainer">
                    </div>
		      	</div>
                
            </div>
        </nav>