<button type="button"  id="resetRoute"  class="btn btn-sm pull-right" data-toggle="button">
  Reset Route
</button>

<h4>Routing</h4>
<hr/>

<strong>Time & Day</strong>

<select id="day">
  <option value="1">Mon</option>
  <option value="2">Tue</option>
  <option value="3">Wed</option>
  <option value="4">Thu</option>
  <option value="5">Fri</option>
  <option value="6">Sat</option>
  <option value="7">Sun</option>
</select>


<select id="hour">
  <option value="0">0h</option>
  <option value="1">1h</option>
  <option value="2">2h</option>
  <option value="3">3h</option>
  <option value="4">4h</option>
  <option value="5">5h</option>
  <option value="6">6h</option>
  <option value="7">7h</option>
  <option value="8">8h</option>
  <option value="9">9h</option>
  <option value="10">10h</option>
  <option value="11">11h</option>
  <option value="12">12h</option>
  <option value="13">13h</option>
  <option value="14">14h</option>
  <option value="15">15h</option>
  <option value="16">16h</option>
  <option value="17">17h</option>
  <option value="18">18h</option>
  <option value="19">19h</option>
  <option value="20">20h</option>
  <option value="21">21h</option>
  <option value="22">22h</option>
  <option value="23">23h</option>
</select>

<hr/>

<div id="clickInfo" class="alert alert-info" role="alert">Click the map to define a start and end location for a journey.</div>

<div id="journeyInfo" class="container">

<h4>Travel Time: <span id="travelTime"></span></h4>
<h4>Average Speed: <span id="avgSpeed"></span></h4>

<p>&nbsp;</p>
</div>
