<ul class="nav nav-pills nav-justified">
  <li id="data"><a href="#">Data</a></li>
  <li id="routing"><a href="#">Routing</a></li>
  <li id="analysis"><a href="#">Analysis</a></li>
</ul>
<div id="side-panel" class="container"></div>
<hr>
<div id="side-footer">
  <a href="www.grabtaxi.com">
    <img src="/images/grabtaxi_logo.png" alt="GrabTaxi" class="footer-logo"/>
  </a>
  <a href="www.worldbank.org">
    <img src="/images/worldbank_logo.png" alt="World Bank" class="footer-logo"/>
  </a>
</div>