<ul class="nav nav-pills nav-justified sidebar-pills">
  <li id="routing"><a href="#">{{I18n "routing_tab_title"}}</a></li>
  <li id="analysis"><a href="#">{{I18n "analysis_tab_title"}}</a></li>
</ul>
<div id="side-panel" class="container"></div>
<hr>
<div id="side-footer">
  <div style="max-width: 300px; display: inline;">
    <a href="//www.grabtaxi.com">
      <img src="/images/grabtaxi_logo.png" alt="GrabTaxi" class="footer-logo"/>
    </a>
    <a href="//www.worldbank.org">
      <img src="/images/worldbank_logo.svg" alt="World Bank" class="footer-logo"/>
    </a>
  </div>
  <span id="versionLabel">v0.2.1-rc9</span>
  <div class="btn-group dropup" style="max-width: 100px;">
    <button type="button" class="btn btn-default" id="localeLabel">Language</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="localeList">
    </ul>
  </div>
</div>