<br>

<div id="clickInfo" class="alert alert-info" role="alert">{{I18n "define_routing_instructions"}}</div>

<div id="routeSelections" class="col-md-12">
    <h3>{{I18n "select_day_of_week"}}:</h3>
    <div class="col-md-12" style="margin-bottom: 5px">
        <table width="100%" align="center" style="table-layout: fixed;">
            <tr>
                <td>Su</td><td>M</td><td>T</td><td>W</td><td>Th</td><td>F</td><td>S</td>
            </tr>
            <tr>
                <td><input class="daySelect" type="radio" name="day" value="7"/></td>
                <td><input class="daySelect" type="radio" name="day" value="1"/></td>
                <td><input class="daySelect" type="radio" name="day" value="2"/></td>
                <td><input class="daySelect" type="radio" name="day" value="3"/></td>
                <td><input class="daySelect" type="radio" name="day" value="4"/></td>
                <td><input class="daySelect" type="radio" name="day" value="5"/></td>
                <td><input class="daySelect" type="radio" name="day" value="6"/></td>
            </tr>
        </table>
    </div>

    <h3>{{I18n "select_hour_of_day"}}:</h3>
    <div id="hourButtons"/>
</div>

<div id="selectedDateAndTime" style="display: none">
    <h4>{{I18n "selected_day"}}: <span id="selectedDate"></span></h4>
    <h4>{{I18n "selected_time"}}: <span id="selectedTime"></span></h4>
</div>

<div id="routeData">

    <h4 class="travel-time-span">{{I18n "travel_time"}}: <span id="travelTime"></span></h4>
    <h4>{{I18n "average_speed"}}: <span id="avgSpeed"></span></h4>

    <div>
        <select style="display: inline; width: 150px;" class="form-control input-sm" id="week1FromList">
        </select>
          <span id="week1To">
              to
              <select style="display: inline; width: 150px;" class="form-control input-sm" id="week1ToList">
              </select>
          </span>

        <input type="checkbox" id="compare"> {{I18n "compare"}}

    </div>
    <div id="compareWeekSelector" style="margin-top: 10px;">
        <select style="display: inline; width: 150px;" class="form-control input-sm" id="week2FromList">
        </select>
          <span id="week2To">
              to
              <select style="display: inline; width: 150px;" class="form-control input-sm" id="week2ToList">
              </select>
          </span>
    </div>

    <div style="margin-top: 10px;">
        <strong><span id="percentChangeTitle1">{{I18n "percent_change_in"}} </span>{{I18n "speed_by_day_of_week"}}</strong>
        <div id="dailyChart"></div>
    </div>
    <div style="margin-top: 10px;">
        <strong><span id="percentChangeTitle2">{{I18n "percent_change_in"}} </span>{{I18n "speed_by_hour_of_day"}}</strong><br/>
        <div id="hourlyChart"></div>
    </div>

    <div style="margin-bottom: 25px; margin-top: 25px;" id="speedLegend">
        0KPH
        <svg style="margin-left: 5px; margin-right: -30px;" width="270" height="24"></svg>
        <span id="maxSpeedInKph"/>+ KPH
    </div>

    <div style="margin-bottom: 25px; margin-top: 25px;" id="percentChangeLegend">

        <div class="pull-right">
            <select style="display: inline; width: 150px;" class="form-control input-sm" id="confidenceInterval">
                <option value="0">90% CI</option>
                <option selected value="1">95% CI</option>
                <option value="2">97% CI</option>
                <option value="3">99% CI</option>
            </select>
            <br/>
            <select style="display: inline; width: 150px; margin-top: 5px;" class="form-control input-sm" id="normalizeByTime">
                <option selected value="true">{{I18n "normalize_time"}}</option>
                <option value="false">{{I18n "normalize_vehicles"}}</option>
            </select>

        </div>

        0%<svg style="margin-left: 15px; margin-right: -140px;" width="270" height="24">
        <rect fill="rgb(254,229,217)" width="24" height="24" x="0"></rect>
        <rect fill="rgb(252,174,145)" width="24" height="24" x="24"></rect>
        <rect fill="rgb(251,106,74)" width="24" height="24" x="48"></rect>
        <rect fill="rgb(222,45,38)" width="24" height="24" x="72"></rect>
        <rect fill="rgb(165,15,21)" width="24" height="24" x="96"></rect>
    </svg> -50% {{I18n "change"}} <br/>

        0%<svg style="margin-left: 15px; margin-right: -140px;"  width="270" height="24">
        <rect fill="rgb(239,243,255)" width="24" height="24" x="0"></rect>
        <rect fill="rgb(189,215,231)" width="24" height="24" x="24"></rect>
        <rect fill="rgb(107,174,214)" width="24" height="24" x="48"></rect>
        <rect fill="rgb(49,130,189)" width="24" height="24" x="72"></rect>
        <rect fill="rgb(8,81,156)" width="24" height="24" x="96"></rect>
    </svg> +50% {{I18n "change"}}
    </div>
</div>

<div id="routeButtons" class="row col-md-12" style="text-align: center; display: none;">
    <div class="col-md-10 col-md-offset-1" style="margin-bottom: 5px;">
        <div class="col-md-8" style="padding: 0px 5px 0px 0px;">
            <button type="button"  id="toggleFilters"  class="btn btn-sm btn-default btn-block" data-toggle="button">
            {{I18n "filter_off"}}
            </button>
        </div>
        <div class="col-md-4" style="padding: 0px;">
            <button type="button"  id="resetRoute"  class="btn btn-sm btn-warning btn-block" data-toggle="button">
                {{I18n "reset_route"}}
            </button>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1" style="margin-bottom: 5px;">
        <button type="button"  id="analyzeByTime"  class="btn btn-sm btn-default btn-block" data-toggle="button">
            {{I18n "analyze_by_time"}}
        </button>
    </div>
    <div class="col-md-10 col-md-offset-1" style="margin-bottom: 5px;">
        <div class="col-md-6" id="saveRouteContainer"/>
        <div class="col-md-6" id="bookmarkRouteContainer"/>
    </div>
</div>

<div id="analyzeByTimeButtons" style="text-align: center; display: none;" class="col-md-10 col-md-offset-1">
    <button type="button"  id="resetRoute2"  class="btn btn-sm btn-warning col-md-12" data-toggle="button" style="margin: 5px 0 5px 0;">
        {{I18n "reset_route"}}
    </button>
    <button type="button"  id="returnToOverall1"  class="btn btn-sm btn-primary col-md-12" data-toggle="button">
        {{I18n "return_to_overall"}}
    </button>
</div>

<div class="compare-notes row col-md-12" style="display: none;" id="routeCompareNotes"><span>{{{I18n "compare_notes"}}}</span></div>
