<div class="btn-group dropdown">
  <button type="button" class="btn btn-default">{{I18n "welcome_label"}}</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id="userMenu">
    <li><a href="#">
      {{I18n "sign_in_as"}}
      <br>
      <strong>{{username}}</strong>
    </a></li>
    <li class="divider"/> 
    {{#if_eq role "super_admin" }}
      <li><a id="newUser" href="#">{{I18n "new_user_label"}}</a></li>
      <li><a id="usersLink" href="#">{{I18n "users_label"}}</a></li>
      <!--<li><a id="dataManagementLink" href="#">{{I18n "data_management_label"}}</a></li>-->
    {{else}}
      {{#if_eq role "admin" }}
        <li><a id="usersLink" href="#">{{I18n "users_label"}}</a></li>
        <!--<li><a id="dataManagementLink" href="#">{{I18n "data_management_label"}}</a></li>-->
      {{/if_eq}}
    {{/if_eq}}
    <li><a id="logout" href="#">{{I18n "logout_label"}}</a></li>
  </ul>
</div>