.main {
  height: 100%;
  padding-right: 375px;
  position: relative;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.sideBar {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  width: 375px;
  border: 0;
  box-shadow: 2px 0 2px -1px rgba(152,184,235,0.5);
}

.navbar {
  color: #98B8EB;
  margin-bottom: 8px;
  height: 44px;
  width: 100%;
  padding-left: 8px;
  line-height: 44px;
  position: absolute;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(152,184,235,0.5);
  background-color: #fff;
}

.navbar img {
  height: 2rem;
}

.scrollable {
  overflow-y: scroll;
  height: 100%;
  padding: 0px 4px 0;
}

.section {
  padding: 0px 16px 0;
}

.dockedActionLog {
  position: absolute;
  display: block;
  bottom: 0;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 -2px 2px -1px rgba(152,184,235,0.5);
  width: 100%;
  padding: 8px 8px 0;
}
