html, body, #map {
  height : 100% ;
  width : 100% ;
}

body, div {
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
}

#navbar {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 50px;
}
#main {
  top: 50px;
  bottom: 0;
  left: 0;
  right: 480px; 
  position: absolute;
}

#content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  position: absolute;
}

#sidebar-tabs {
	top: 50px;
  bottom: 0;
  right: 0;
	position: absolute;
	width: 480px;
  overflow: auto;
  margin: 0;
}

#side-panel {
  width: 100%;
  overflow: auto;
  top: 40px;
  position: absolute;
  bottom: 40px;
}

#side-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  text-align: right;
  padding: 5px 0px;
}

.logo {
	height: 30px;
	width: 30px;
	margin-top: -4px;
	margin-right: -5px;
}

.footer-logo {
  max-height: 40px;
  max-width: 150px;
}

.location-search {
  margin-top: 5px;
}

#userMenuContainer {
  display: inline-block;
}

#signIn {
  margin-right: 5px;
}

#localeList {
  min-width: 0px !important;
}

.user-actions {
  float: right;
}

.delete-user {
  margin-right: 5px;
}

.compare-notes {
  margin-top: 10px;
  background-color: #DCE6F5;
  padding: 20px;
  margin: 20px;
}